<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.vulkan.level"
        android:required="true"
        android:version="1" />
    <uses-feature
        android:name="android.hardware.vulkan.version"
        android:required="true"
        android:version="0x00400000" />

    <application
        android:allowBackup="false"
        android:label="Tela Mobile"
        android:theme="@style/Theme.TelaMobile"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".TelaActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|keyboard|smallestScreenSize|uiMode|density"
            android:exported="true"
            android:resizeableActivity="true"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
